.a{
    display:flex;
    justify-content: center;
}

.font{
    font-weight: 500;
    font-size: 18px;
}

.font:hover:active{
    font-weight: 800;
    font-size: 20px;
}

.size{
    font-size: 24px;
    font-weight: 900 ;
}

.he{
    font-size: 50px;
    
}